<!DOCTYPE html>
<html ng-app="app">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
  <script src='../app/app.js' > </script>
<link rel="stylesheet" />

</head>

<body ng-app='app'>
<div>
  <h1>European Football League</h1>
  <h6>-click logo for team roster-</h6>
</div>

  <div ng-controller="controller">
     <div ng-repeat="team in teams">
     <img class="teamLogo" ng-click="getPlayers(this)" ng-src="{{team.crestUrl}}" height="42" width="42"/> <strong> {{team.code}} - {{team.name}} </strong>

       <div ng-if="team.code === 'FCB'" ng-repeat="player in players">
         <ul>
           <li>Player Name:    {{player.name}}</li>
           <li>Nationality:    {{player.nationality}}</li>
           <li>Position:     {{player.position}}</li>
         </ul>
       </div>
     </div>

  </div>

</body>
</html>
